/* Universal Styles */

html {
  font-size: 32px;
  color: #ffffff;
}

a {
  text-decoration: underline;
  color: #b0003a;
}
@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 400;
  src: local('Alegreya Regular'), local('Alegreya-Regular'), url(https://fonts.gstatic.com/s/alegreya/v10/4UaBrEBBsBhlBjvfkSLhx6g.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 900;
  src: local('Alegreya Black'), local('Alegreya-Black'), url(https://fonts.gstatic.com/s/alegreya/v10/4UaGrEBBsBhlBjvfkSpi4L3Owp4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: local('Lato Italic'), local('Lato-Italic'), url(https://fonts.gstatic.com/s/lato/v14/S6u8w4BMUTPHjxsAXC-q.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v14/S6uyw4BMUTPHjx4wXg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

h1 {
  font-family: 'Alegreya', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  margin: 1rem 0;
}

h2 {
  font-family: 'Alegreya', serif;
  font-style: normal;
  font-weight: 400;
  font-size: .75rem;
}

p {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.5rem;
  padding: 8px 16px 24px 16px;
}



  nav .icons {
    display: none;
  }

  .information-mobile {
    display: none;
  }

  .main-mobile {
    display: none;
  }

  .banner img {
    width: 60%;
    padding: 1rem .75rem;
    display: inline-block;
  }

  .banner .copy {
    display: inline-block;
    width: 30%;
    vertical-align: middle;
  }

  .courses-mobile {
    display: none;
  }

  video {
    width: 100%;
    margin-top: 1rem;
    margin-right: 0.75rem;
    margin-bottom: 0.75rem;
  }


/* Fixed header */
header {
  display: flex;
  position: fixed;
  z-index: 1;
  height: 2rem;
  width: 100%;
  background-color: white;
  align-items: center;
  padding: 0rem 0.75rem;
  background-color: #002984;
}

header img {
  margin-right: .75rem;
  height: 1rem;
  width: 1rem;
}

header #logo-first {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 900;
}

header #logo-second {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 400;
}

header nav {
  position: absolute;
  right: .75rem;
  align: center;
}

nav span {
  display: inline-block;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  font-size: 0.8rem;
}

header .text {
  margin-right: 0.75rem;
}

/* Main content */

.main-content {
  padding-top: 2.1rem;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
}

/* Banner */

.banner {
  background-color: #3f51b5;
  width: 100%;

}


.button {
  background-color: #e81e62;
width: 100%;
margin-top: 1rem;
color: white;
padding: 0.25rem 0rem;
text-align: center;
margin-bottom: 1rem;
}

/*first section*/

.information {
  padding-bottom: 1rem;
  background-color: #ff608f;
}

.main img{
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-right: 0.75rem;
}

.main {
  width: 60%;
  margin-left: 0.75rem;
  display: inline-block;
}

.main p {
  padding-top: 0.75rem;
  padding-bottom: 1rem;
}

.author {
  font-family: 'Lato', sans-serif;
  font-style: italic;
  font-weight: 400;
}

.secondary {
  width: 37%;
  display: inline-block;
}

.single {
  border: 1px solid #eeeeee;
}

.single .text {
  width: 60%;
  display: inline-block;
}

.single img {
  width: 30%;
  padding: 0.5rem;
}

.single p {
  padding: 0.25rem 0rem;
}

/* second section */

.courses {
  background-color: #757de8;
  padding: 1rem 0;
}

.courses h1 {
  text-align: center;
}

.row {
  display: flex;
}

.card {
  width: 30%;
  display: inline-block;
  justify-content: space-between;
  background-color: #ff608f;
  margin: 0.5rem;
}

.card img {
  width: 100%;
}

.card h2 {
  padding: 0.5rem;
}

.courses-desktop-box {
  margin: 0px 56px;
}




/* third section */

.thesis {
  padding: 1rem 0.75rem;
  background-color: #ff608f;
}

.thesis h1 {
  text-align: center;
}

.main-video {
  width: 60%;
  margin-left: 0.75rem;
  display: inline-block;
}

.main-video p {
  padding-top: 0.75rem;
  padding-bottom: 1rem;
}

.thesis-secondary {
  width: 37%;
  display: inline-block;
}

/* footer */

footer {
  width: 100%;
  display: flex;
  background-color: #3f51b5;
  border-top: 1px solid #eeeeee;
}

footer p {
  margin-left: 0.75rem;
  padding-top: 0.5rem;
}

footer span {
  display: inline-block;
  padding: 0 0.25rem;
  font-size: 0.8rem;
  text-align: right;
}

@media only screen and (max-width: 480px) {
  #logo-first {
    display: none;
  }
  #logo-second {
    display: none;
  }

  header .icons {
    display: inline-block;
  }

  nav .text {
    display: none;
  }

  .main-content {
    margin: 0;
  }


.thesis-secondary {
    display: none;
  }

.information {
  display: none;
  }

  .information-mobile {
    display: block;
    background-color: #ff608f;
  }

.main {
  display: none;
}
.thesis {
  margin: 0;
  padding-top: 1rem;
  border-top: 1px solid red;
  border-bottom: 1px solid red;
  padding-bottom: 0.75rem;
}

.main-video {
  width: 100%;
  margin-left: 0;
}

.main-video h2 {
  display: none;
}

.main-video p {
  display: none;
}

video {
  width: 100%;
  margin: 1rem 0;
}

.banner img {
  width: 100%;
  padding: 0;
}

.banner .copy {
  width: 100%;
  vertical-align: middle;
  padding-left: 0.5rem;
  }

  .banner h1 {
    margin: 1rem 0rem;
  }

  .information .main {
    display: none;
  }

  .secondary-mobile img {
    margin: 0.5rem;
    width: 100%;
  }

  .secondary-mobile h2 {
    margin-left: 1rem;
    text-align: left;
  }

  .secondary-mobile p {
    margin-left: 1rem;
  }

  .courses {
    display: none;
  }
.courses-mobile {
  display: block;
  padding-bottom: 1rem;
  background-color: #757ce8;
}

.courses-mobile h1 {
  text-align: center;
}
  .mobile-card {
    background-color: #ff608f;
    padding-left: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.75rem;
    margin-bottom: 0.25rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  footer span {
    display: none;
  }



}
